body, html, .row-offcanvas {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: whitesmoke;
}

#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #f5f5f5;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    height: 100%;
    overflow: auto;
    background-color: whitesmoke;
}

.movie {
}

.panel-body h4 {
    color: #a55400;
}

.red {
    color: red;
}

.green {
    color: green;
}

.shortPanel {
    max-height: 282px !important;
    overflow-y: auto;
}

.shortPadding {
    padding: 1px !important;
}

.shortMargin {
    margin: 0 !important;
}

ul.pagination > li
{
    cursor: pointer;
}

/* Fixes alignment in nav lists */
.nav-pills [class^="fa-"],
.nav-pills [class*=" fa-"] {
    line-height: inherit;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }

    .row-offcanvas-left {
        left: -220px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 650px) {
    .movieDescription {
        margin-left: 240px !important;
    }
}

@media (max-width: 490px) {
    .movieDescription {
        margin-left: 125px !important;
    }
}



.shortInputSearch {
    width: 300px !important;
    float: right !important;
}

.jumbotron {
    position: relative;
    background: #000 url("../images/background.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

/*Edit form*/
#editMovieWrapper {
    background-color: #337AB7;
    color: white;
    padding: 20px;
}

.black {
    color: black !important;
}

/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.userinfo {
    margin-right: 10px;
    font-size: large;
    background-color: white;
}

/*Validation Errors*/
.has-error .control-label {
    color: #FFB658 !important;
}

.movieDescription {
    margin-left: 335px;
}

/* Autocomplete section */
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.red {
    color: red;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../images/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('../images/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}